<div class="row text-center title">Main Menu</div>
<div class="row text-center margin-bottom20"><div class="col-xs-12"><button class="btn btn-purple" (click)="newReport()" type="button"><i class="fa fa-plus fa-1x"></i> Create Report</button></div></div>
<div class="row">
    <div class="col-sm-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="panel-title text-center">
                    New Reports
                </div>
            </div>
            <div class="panel-body">
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Person</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>03/21/2018</td>
                        <td><a href="#">John Carter</a></td>
                        <td>New</td>
                    </tr>
                    <tr>
                        <td>03/21/2018</td>
                        <td><a href="#">Peter Parker</a></td>
                        <td>New</td>
                    </tr>
                    <tr>
                        <td>03/20/2018</td>
                        <td><a href="#">John Rambo</a></td>
                        <td>New</td>
                    </tr>
                    </tbody>
                </table>
                <div class="text-center"><a (click)="allReports()">Search all reports</a></div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <div class="panel-title text-center">
                    Reports needing attention
                </div>
            </div>
            <div class="panel-body">
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Person</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>03/14/2018</td>
                            <td><a href="#">Bruce Wayne</a></td>
                            <td>Overdue</td>
                        </tr>
                        <tr>
                            <td>03/10/2018</td>
                            <td><a href="#">William Riker</a></td>
                            <td>Overdue</td>
                        </tr>
                        <tr>
                            <td>03/19/2018</td>
                            <td><a href="#">Kathryn Janeway</a></td>
                            <td>Important</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>